# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# =========================
# VIRTUAL ENV EXTRA
# =========================
open_vocab_env/
yolo_env/

# =========================
# ROS / RTAB-Map
# =========================
*.db
*.db3
*.sqlite3
*.bag
*.mcap
log/
install/
build/
.rtabmap.db

# =========================
# DATASETS (IMPORTANT)
# =========================
data/datasets/

# =========================
# YOLO OUTPUTS
# =========================
models/
runs/
weights/
*.pt
*.pth
*.onnx

# =========================
# OS / IDE
# =========================
.DS_Store
.vscode/